.DS_Store
/Resources
/platform
/i18n
build.log
/android/build
/android/dist
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
.vscode/appc
lib/node_modules
lib/package-lock.json
node_modules
package-lock.json